<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <%- include("header.ejs")   %>
    <h1>Hello  <%= Data[0].username  %> From EJS!</h1>
    <h1>Hello  <%= Data[1].username  %> From EJS!</h1>
    <h1>Hello  <%= Data[2].username  %> From EJS!</h1>
   <% Data.forEach((value,index)=>{  %>
     <h1><%= value.username%></h1>
   <%})%>


</body>
</html>